// Font sizes
$font-size-tag: 10px;
$font-size-normal: 12px;
$font-size-button: 14px;
$font-size-navbar: 30px;
$font-size-card-title: 16px;

// Font weights
$font-weight-normal: 400;
$font-weight-card-title: 700;

// Colors
$yellow: #a1af2f;
$pink: #ed8077;
$blue: #4487c5;
$green: #5eb5a6;
$black: #000000;

// Background color
$background-color-buttonSubmitModal: #393939;

// Other variables...
$primary-color: #f0f0f0;
$secondary-color: #ffffff;
$border-color: #c1c1c1;
$transport: rgba(0, 0, 0, 0.3);
